Header always set Access-Control-Allow-Origin "*"

Redirect /esm/cubing/alg /esm/web_modules/cubing/alg.js
Redirect /esm/cubing/bluetooth /esm/web_modules/cubing/bluetooth.js
Redirect /esm/cubing/kpuzzle /esm/web_modules/cubing/kpuzzle.js
Redirect /esm/cubing/protocol /esm/web_modules/cubing/protocol.js
Redirect /esm/cubing/puzzle-geometry /esm/web_modules/cubing/puzzle-geometry.js
Redirect /esm/cubing/puzzles /esm/web_modules/cubing/puzzles.js
Redirect /esm/cubing/stream /esm/web_modules/cubing/stream.js
Redirect /esm/cubing/twisty /esm/web_modules/cubing/twisty.js

Redirect /esm/comlink /esm/web_modules/comlink.js
Redirect /esm/three /esm/web_modules/three.js

Redirect /esm/scrambles /esm/web_modules/scrambles/esm-browser.js
Redirect /esm/web_modules/scrambles/scrambles-worker.js /esm/web_modules/scrambles/esm-browser-worker-entry-for-cdn-cubing-net.js
Redirect /esm/scramble-display /esm/web_modules/scramble-display.js
