RewriteCond %{HTTPS} !=on
RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Note: this value is ignored and overriden by Fastly: https://github.com/cubing/cdn.cubing.net/issues/7#issuecomment-2350929587
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" env=HTTPS

# Deny anyone other than Fastly to any part of the site, except a handful of public routes for `cdn.fastly.cubing.net` itself.
RewriteEngine On
RewriteCond %{HTTP:Fastly-Client} ^$
RewriteCond %{REQUEST_URI} !^/.well-known/
RewriteCond %{REQUEST_URI} !^/robots.txt$
RewriteRule ^ - [F,L] # F: 403 forbidden, L: don't try any other rules

# Don't allow Fastly to see the "deny-all" `/robots.txt` (so that it doesn't get served on `cdn.cubing.net`), but allow the world to see it on `cdn.fastly.cubing.net`.
RewriteEngine On
RewriteCond %{HTTP:Fastly-Client} !^$
RewriteCond %{REQUEST_URI} ^/robots.txt$
RewriteRule ^ - [R=404]

RedirectMatch 308 ^/js(/cubing)?/?$ https://cdn.cubing.net/
RedirectMatch 308 ^/v0(/js(/cubing)?)?/?$ https://cdn.cubing.net/
